.pink {
    background-color: deeppink;
    color: lightpink;
    font-weight: bold;
    padding: 50px;
}

.assets-list {
    min-height: 300px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: inline-block;
    min-width: 600px;
}